* {
    margin: 0px;
    padding: 0px;
}

.container-link {
    display: flex;
    flex-direction: row;
}

.link {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}